@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #FFFCF9;
  }
}

.text-gradient {
  background: linear-gradient(45deg, #FF6B35, #E71D36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}